{% extends "base.html" %}
{% load static %}
{% block head_stylesheet %}
<link rel="stylesheet" href="{% static 'tougdo/tougdo.css' %}">
<link rel="stylesheet" href="{% static 'tougshire_vistas/tougshire_vistas.css' %}">

{{ block.super }}
{% endblock %}

{% block body %}
  <body>
    {% block content %}
    {% include 'tougshire_vistas/filter.html' %}

    {% if object_list %}
    <h3>Items</h3>
    {% endif %}
    <table>
        {% for item in object_list %}
        <tr>
            <td class="priority{{ item.priority.number }}">
                <a class="title" href="{% url "tougdo:item-update" item.id %}">
                {{ item.title }}
                </a>
            </td>
            <td>
              due: {{ item.due_date}}
            </td>
            <td>
              Priority: {{ item.priority.label }}
            </td>
          </tr>
        {% empty %}
        <h4>You have no items</h4>
        {% endfor %}
      </table>
    <p>
        <input value="Add a new item" type="button"
            onclick="location.href='{% url "tougdo:item-add" %}'"/>
    </p>

    {% endblock %}
  </body>
{% endblock %}
