{% extends 'touglates/base.html' %}
{% load static %}

{% block content %}
  <script src='{% static 'touglates\touglates.js' %}'></script>
  <div class="form">
    {% if form.errors %}{{ form.errors }}{% endif %}
    <form id="frm_article" method="POST">
      {{ form.media }}
      {% csrf_token %}
      {% for field in form.hidden_fields %}
      {{ field }}
      {% endfor %}

      {% block form_fields %}{% endblock %}
      <div id="save">
        {% include 'touglates/form_field.html' with label="Submit Form" field_1='<button type="submit" name="save-stay" value="1">Save and Stay</button>' field_2='<button type="submit">Save and Go</button>' field_3=aftersave|safe %}
      </div>
      <input type="hidden" name="staypage" value="{{ staypage }}">

    </form>
  </div>
  {% block afterform %}{% endblock %}
  {% if object %}
    <div><a href="{% url 'tougcomsys:article' pk=object.pk %}" target="preview_{{object.pk}}">Preview</a></div>
  {% endif %}
{% endblock %}
