{% extends 'touglates/base.html' %}
{% load static %}

{% block body %}
  <script src='{% static 'touglates\touglates.js' %}'></script>
  <div class="form">
    {% if form.errors %}{{ form.errors }}{% endif %}
    <form id="frm_article" method="POST">
      {{ form.media }}
      {% csrf_token %}
      {% for field in form.hidden_fields %}
      {{ field }}
      {% endfor %}

      {% block form_fields %}{% endblock %}

    </form>
  </div>
  {% block afterform %}{% endblock %}
  {% if object %}
    <div><a href="{% url 'tougcomsys:article' pk=object.pk %}" target="preview_{{object.pk}}">Preview</a></div>
  {% endif %}
{% endblock %}
